.App {
  text-align: center;
}

.single-article {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.signle-article-votes {
  width: 40px;
  border: 1px solid black;
}

.article-votes-card {
  width: 40px;
  border-right: 1px solid black;
}

.votes-component {
  display: flex;
  flex-direction: column;
}


.comment-votes {
  width: 40px;
  border-right: 1px solid black;
}

.single-comment {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}


