.App {
  text-align: center;
}

.articles {
  margin: 0 10% 5% 10%;
}

.single-article {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  margin-bottom: -1px;
  z-index: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.article-preview-header {
  display: flex;
}
.article-preview-header span {
  margin-left: auto;
  color: rgba(0, 0,0, 0.4);
  font-size: 13px;
}

.article-preview-body {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-preview-body-comments {
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0,0, 0.7);
  margin-top: 3px;
}

.article-preview-body-comments i {
  font-size: 14px;
  margin-left: 3px;
  color: rgba(0, 0,0, 0.45);
}
.article-preview-body-comments i:hover {
  color: rgb(0, 121, 211);
}

.article-preview-body-topic {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0,0, 1);
}

.article-preview {
  padding: 5px;
  width: 100%;
}

.topics-newArticle-div {
  display: flex;
}

.topics {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 19px;
  margin-bottom: -1px;
}

a, .topic  {
  width: 80px;
}

.topics-newArticle-div button {
  margin-left: auto;
  background-color: rgb(8, 119, 204);
  border-color: rgb(50, 147, 219);
  color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: -1px;
  font-size: 16px;
  width: 150px;
  height: 35px;
  cursor: pointer;
}

.single-article:hover {
  z-index: 1;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(137, 137, 137);
  border-image: initial;
}

.signle-article-votes {
  width: 40px;
  border: 1px solid;
  border-color: rgb(204, 204, 204)
}

.article-votes-card {
  display: flex;
  width: 45px;
  border-right: 1px solid rgb(204, 204, 204);
  justify-content: center;
  align-items: center;
}

.votes-component {
  display: flex;
  flex-direction: column;
}


.comment-votes {
  width: 40px;
  border-right: 1px solid black;
}


.navbar {
  background-color: rgb(255,255,255);
  display: flex;
  height: 50px;
  margin-bottom: 40px;
}

.navbar h1 {
  font-size: 2.5rem;
  margin-left: 20px;
}

.nav-buttons {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 20px;
  margin: 10px 20px 10px auto
}

.login {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(0, 121, 211);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  padding: 3px 16px;
  border-color: rgb(0, 121, 211);
  cursor: pointer;
}

.signup {
  margin-left: 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  padding: 3px 16px;
  border-color: rgb(0, 121, 211);
  cursor: pointer;
}

button:focus {outline:0;}
input:focus {outline:0;}
select:focus {outline:0;}

.topics a { 
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(137, 137, 137);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: inherit;
  text-decoration: none;
  height: 35px;
} 

.topics a:hover {
  transform: scale(1.05)
}


/* ADD ARTICLE */
textarea {
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-size: 0.875em;
  border: solid 1px rgb(204, 204, 204);
  transition: all 0.3s ease-in-out;
}

select {
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.new-article-body {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.new-article-body input {
  height: 42px;
  padding-left: 15px;
  font-size: 15px;
}

.new-article-body button {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 3px 16px;
  border-color: rgb(0, 121, 211);
  cursor: pointer;
}

.new-article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-article-card-span {
  float: right;
  font-size: 18px;
  cursor: pointer;
}

.new-article-card  h1{
  margin-top: 3%;
  margin-bottom: 20px; 
}

/* ARTICLE CARD */

.single-article-votes {
  float: right;
}

.single-article-votes .votes-component {
  text-align: center;
  margin-top: 15px;

}

.single-article-close-span {
  font-size: 18px;
  cursor: pointer;
  margin-left: 2px;
}

.single-article-card  h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.single-article-card-author {
  font-size: 12px;
  color: rgba(0,0,0, 0.6)
}

.single-article-card-timestamp {
  font-size: 14px;
  color: rgba(0,0,0, 0.6);
}

.single-article-card-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-comment {
  width: 50%;
  margin-bottom: 12px;
  height: 40px;
  display: flex;

}

.new-comment input {
  width: 50%;
  height: 30px;
  font-size: 15px;
}

.new-comment button {
  height: 34px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 3px 16px;
  border-color: rgb(0, 121, 211);
  cursor: pointer;
}

.new-comment button:hover {
  background-color: rgb(4, 113, 195)
} 


/* COMMENTS */

.comments-container {
  width: 100%;
  padding: 5px;
}

.single-comment {
  width:100%;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  margin-bottom: -1px;
  z-index: 0;
  background-color: rgb(255, 255, 255);
}

.comment-body {
  padding: 5px;
}

.single-comment:hover {
  z-index: 1;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(137, 137, 137);
  border-image: initial;
}

.single-comment-votes {
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(204, 204, 204);
}

.single-comment-votes .votes-component{
  width: 40px;
  text-align: center;
}

.comment-body-head {
  display: flex;
  font-size: 14px;
  color: rgba(0,0,0, 0.6);
  margin-bottom: 3px;
}

.comment-body-head p {
  margin-right: 10px;
}

.delete i{
  color: red;
  font-size: 16px;
}

.delete {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 1.5rem;
}
